@model Vidly.Models.Movie
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.name</h2>
<ul>
    <li>Genre: @Model.genre</li>
    <li>Release Date: @Model.releaseDate.ToString("dddd ,dd MMMM, yyyy")</li>
    <li>Date Added: @Model.dateAdded.ToString("dddd ,dd MMMM, yyyy")</li>
    <li>Number in Stock: @Model.stock</li>
</ul>

